
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";


        default_layer {
            bindings = <
                &kp COLON   &kp MINUS   &kp LBKT    &kp LPAR    &kp LBRC    &kp LT                                                              &kp GT      &kp RBRC    &kp RPAR    &kp RBKT    &kp EQUAL   &tog 3
                &kp TAB     &kp Q       &kp W       &kp F       &kp P       &kp B   &none                                           &none       &kp J       &kp L       &kp U       &kp Y       &kp SEMI    &tog 2
                &kp CAPS    &kp A       &kp R       &kp S       &kp T       &kp G   &kp SQT                                         &kp DQT     &kp M       &kp N       &kp E       &kp I       &kp O       &tog 1
                &kp LSHFT   &kp Z       &kp X       &kp C       &kp D       &kp V       &mo 3       &none           &none       &mo 3           &kp K       &kp H       &kp COMMA   &kp DOT     &kp FSLH    &kp RSHFT
                &kp LGUI    &none       &kp ESC     &kp LALT        &kp LCTRL           &kp BSPC    &kp DEL         &kp ENTER   &kp SPACE           &kp RCTRL           &kp LALT    &kp RALT    &none       &kp RGUI
            >;
        };


        symbol_layer {
            bindings = <
                &kp COLON   &none           &none       &none       &none       &none                                                           &none       &kp KP_NUM  &kp SLASH   &kp STAR    &kp MINUS   &tog 3
                &kp TAB     &kp CARET       &kp AMPS    &kp PLUS    &kp GT      &kp EXCL    &none                                       &none   &kp GRAVE   &kp N7      &kp N8      &kp N9      &kp PLUS    &tog 2
                &to 0       &kp HASH        &kp DLLR    &kp MINUS   &kp LT      &kp UNDER   &none                                       &none   &kp EQUAL   &kp N4      &kp N5      &kp N6      &kp PLUS    &tog 2
                &trans      &kp PERCENT     &kp PIPE    &kp AT      &kp EQUAL   &kp FSLH        &trans  &trans              &trans  &trans      &kp BSLH    &kp N1      &kp N2      &kp N3      &kp ENTER   &none
                &trans      &trans          &trans      &trans          &trans                  &trans  &trans              &trans  &trans          &kp N0              &kp N0      &kp DOT     &kp ENTER   &none
            >;
        };


        nav_layer {
            bindings = <
                &kp COLON   &none       &none       &none       &none       &none                                                           &none       &none       &none       &none       &none           &none
                &kp TAB     &none       &none       &none       &none       &none       &none                                       &none   &none       &kp PG_DN   &kp HOME    &kp END     &kp PG_UP       &none
                &to 0       &kp LGUI    &kp LALT    &kp LSHFT   &kp LCTRL   &none       &none                                       &none   &none       &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT       &none
                &none       &none       &none       &none       &none       &none           &trans  &trans              &trans  &trans      &none       &kp INS     &none       &none       &none           &none
                &none       &none       &none       &none           &trans                  &trans  &trans              &trans  &trans          &trans              &none       &none       &none           &none
            >;
        };


        function_layer {
            bindings = <
                &none       &none       &none       &none           &none           &none                                                                           &none       &kp F10     &kp F11     &kp F12     &none       &none
                &none       &none       &none       &kp C_BRI_DN    &kp C_BRI_UP    &none       &none                                                   &none       &none       &kp F7      &kp F8      &kp F9      &none       &none
                &to 0       &kp LGUI    &kp LALT    &kp LSHFT       &kp LCTRL       &none       &none                                                   &none       &none       &kp F4      &kp F5      &kp F6      &none       &none
                &none       &none       &none       &none           &none           &none           &none       &none               &none           &none           &none       &kp F1      &kp F2      &kp F3      &none       &none
                &bootloader &sys_reset  &none       &none               &kp C_PREV                  &kp C_PP    &kp C_NEXT          &none    &none           &kp C_VOL_UP        &trans              &none       &none       &sys_reset  &bootloader
            >;
        };
    };
};
